* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    line-height: 1.5em;
  }

.page {
    display: flex;
    flex-wrap: wrap;
    font-size: 100%;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    .page {
        width: 500px;
    }
    .reineke {
        width: 150%;
    }
    .neofetch {
        width: 200%;
    }
    .copyright-logo {
        width: 100px;
    }
    .copyright {
        margin-left: 100px;
    }
}

body {
    background-color: black;
    color: white;
    margin-left: 50px;
}

.section {
    margin-bottom: 30px;
}

.ASCII p,
.neofetch-desktop p,
.neofetch-laptop p,
.hard_skills p,
.soft_skills p {
    margin-bottom: 20px;
    margin-top: 50px;
}

.reineke {
    display: flex;
    width: 100%;
}
.neofetch {
    display: flex;
    width: 100%;
}

.reineke,
.neofetch {
    margin-bottom: 50px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    margin-left: 50px;
}
.hard_skills ul,
.soft_skills ul {
    list-style-type: circle;
}

.dots,
.tilde,
.percentage {
    margin-left: 15px;
}
.dots,
.tilde,
.percentage,
.neofetch-command {
    display: inline-flex;
}
.neofetch-command {
    margin-left: 20px;
}
.dots {
    color: #DD82E8;
}
.tilde {
    color: 	#2C75FF;
}
.percentage {
    color: #2BC713;
}


.social-links {
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.social-links img {
    vertical-align: middle;
}
.github, 
.mastodon {
    width: 34px;
    height: 34px;
    margin-bottom: 5px;
}
.protonmail {
    width: 34px;
    height: 37px;
    margin-bottom: 5px;
}
.linkedin {
    width: 40px;
    height: 34px;
    margin-bottom: 5px;
}
.social-links p {
    font-size: 14px;
    margin-left: 10px;
    padding-bottom: 20px;
}
.github-div,
.protonmail-div,
.linkedin-div,
.mastodon-div {
    display: flex;
    align-items: center;
}

.copyright {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.copyright-logo {
    width: 30%;
    height: 30%;
    margin-left: 50px;
    background-color: white;
}
.copyright-date {
    font-size: 12px;
}